body {
  background-color:blueviolet;
}

.wrapper {
  text-align: center;
  height: 100%;
  width: 100%;
}

.banner {
  background-color:aquamarine;
  width: 55%;
  height: 10%;
  margin: auto;
  margin-top: 3%;
  position: relative;
}

.banner-text{
  width: 100%;
  margin: 0;
  position: absolute;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  letter-spacing: 10px;
}

.container {
  max-width: 400px;
  height: 400px;
  display: block;
  margin: auto;
  margin-top:4%;
}

table{
  margin: auto;
}

.space{
  width: 100px;
  height: 100px;
  font-size: 100px;
  text-align: center;
}