.wrapper {
  text-align: center;
  background-color:blueviolet;
  height: 1000px;
}

.container {
  max-width: 400px;
  height: 400px;
  display: block;
  margin: auto;
  padding-top: 150px;
}

table{
  margin: auto;
}

.space{
  width: 100px;
  height: 100px;
  font-size: 100px;
  text-align: center;
}